<div class="container">
  <div class="row mt-3">
    <div class="col-8 offset-2">
      <center>
        <img src="/export/image.jpg" class="img-fluid" alt="Ramazon Muborak">

      </center>
      <div class="d1">
        <a href="/"><button class="b1">Ismni qaytadan yozish</button></a>
        <a href="/export/image.jpg" download><button class="b2">Yuklab olish</button></a>
      </div>
    </div>
  </div>
</div>
<style>
.d1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.d1 a button {
  padding: 10px;
  margin: 3px;
  margin-top: 20px;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 20px;
}
.d1 a .b1{
  background: rgb(186, 32, 32);
}
.d1 a .b2{
  background: blue;
}
</style>